body{
    margin: 1;
    padding: 1;
    background-image: url('821efcbe24c68ea7ad79ef026b486330.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
}

.container{
    display: flex;
    align-items: center;
    border:none
    
}
.text{
    margin-left: 20px;
}
h1{
    text-align: center;
    font-size: 38px;
    color: antiquewhite;

}

h2{ text-align: center;
    font-size: 44px;
    text-shadow: 1px 1px 1px wheat;
    color: rgb(184, 76, 3);
}


p{ padding-left: 0%; 
    font-style: oblique;
    font-size: 25px;
}
ul{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
@keyframes imageAnimation {
    0% {background-image: url('XE0190.png');}
    33% {background-image: url('IMG-20240517-WA0005.jpg');}
    66% {background-image: url('IMG-20240517-WA0001.jpg');}
    100%{background-image: url('IMG-20240517-WA0006.jpg');}
}
.image-container {
 width: 80%;
 height: 520px;
 background-size: cover;
 animation: imageAnimation 20s infinite;
 float: right;
}
.box{
    display:flex;
    align-items:cover;
    overflow: hidden;
}
.text1{
    float: left;
    width: 70%;
    background-size: cover;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
  footer {
        background-color: rgba(0, 0, 225, 0.61);
        color: black;
        padding: 20px;
        text-align: center;
  }
  .enlarge {
    font-size: 60px;
  }
  .mallix{
    display: flex;
    align-items: center;
    border:none;
  }
  
 




